<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Reset.css">
    <link rel="stylesheet" href="../fonts/font-awesome-4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:regular,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/Style.css">
    <link rel="stylesheet" href="../CSS/Style_blog.css">
    <script type="text/javascript" src="../JS/index-script.js"></script>
    <title>BLOG - SQUARE</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <menu class="header__menu">
                    <div class="menu__burger">
                        <i class="fa fa-times cross" aria-hidden="true"></i>
                        <i class="fa fa-bars bar" aria-hidden="true"></i>
                    </div>
                    <ul class="menu__list">
                        <li><a href="#" class="menu__item menu__item_active">portfolio</a>
                            <ul class="menu__sub-list1 sub-list">
                                <li><a href="#" class="menu__item1">Fashion</a></li>
                                <li><a href="#" class="menu__item1">Editorial</a></li>
                                <li><a href="#" class="menu__item1">street</a></li>
                                <li><a href="#" class="menu__item1 menu__ss-list">black white</a>
                                    <ul class="menu__sub-list2 sub-list">
                                        <li><a href="../views/portfolio.html#_one" class="menu__item2">Gallery /1</a></li>
                                        <li><a href="../views/portfolio.html#_two" class="menu__item2">Gallery /2</a></li>
                                        <li><a href="../views/portfolio.html#_three" class="menu__item2">Gallery /3</a></li>
                                        <li><a href="#" class="menu__item2">Gallery /4</a></li>
                                        <li><a href="#" class="menu__item2">Gallery /5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" class="menu__item1">personal</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="menu__item">clients</a></li>
                        <li><a href="./blog.html" class="menu__item">news</a></li>
                        <li><a href="./about.html" class="menu__item">about me</a></li>
                        <li><a href="./contact.html" class="menu__item">contact</a></li>
                    </ul>
                </menu>
                <a href="../index.html" class="header__logo">
                    <img src="../IMG/logo.png" alt="Логотип">
                </a>
                <div class="header__contacts">
                    <a href="#" class="cont-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-flickr" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="main__container">
                <section class="main__blog blog">
                    <div class="item">
                        <div class="blog__content-item">
                            <img src="../IMG/main__img/main__blog/mask_1.jpg" alt="img post" class="blog__img">
                            <h2 class="blog__title">Daniel Jackson Shoots New Yorkers for i-D</h2>
                            <p class="blog__text">Photography Daniel Jackson,  styling by Alastair McKimm, hair by Shon  and Esther Langham, make-up by Yadim,  Francelle and Hannah Murray, casting by AM casting. Production  by Nikki Stromberg and Matthew Youmans at M.A.P New York.</p>
                        </div>
                        <a href="./post.html" class="blog__button">read more</a>
                        <div class="blog__content-item">
                            <i class="fa fa-calendar-o blog__info" aria-hidden="true"> <span id="time">25.08.2014</span></i>
                            <i class="fa fa-comment blog__info" aria-hidden="true"> <span id="comment">24</span></i>
                        </div>
                    </div>
                    <div class="item">                       
                        <div class="blog__content-item">
                            <img src="../IMG/main__img/main__blog/mask_2.jpg" alt="img post" class="blog__img">
                            <h2 class="blog__title">Derek Henderson Shoots Karen Walker / ITC Ethical Fashion Initiative Visible 2014 Campaignts Karen</h2>
                            <p class="blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie, purus id mollis pharetra, lacus turpis dapibus magna, eget aliquam diam erat at velit. Suspendisse in diam sit amet erat blandit efficitur at eget lorem. Aenean elementum lobortis tellus, sit amet mollis tortor rhoncus id.</p>
                        </div>
                        <a href="./post.html" class="blog__button">read more</a>
                        <div class="blog__content-item">
                            <i class="fa fa-calendar-o blog__info" aria-hidden="true"> <span id="time">15.08.2014</span></i>
                            <i class="fa fa-comment blog__info" aria-hidden="true"> <span id="comment">14</span></i>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog__content-item">
                            <img src="../IMG/main__img/main__blog/mask_3.jpg" alt="img post" class="blog__img">
                            <h2 class="blog__title">Anne & jack Walker</h2>
                            <p class="blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie, purus id mollis pharetra, lacus turpis dapibus magna, eget aliquam diam erat at velit. Suspendisse in diam sit amet erat blandit efficitur at eget lorem. Aenean elementum lobortis tellus, sit amet mollis tortor rhoncus id.</p>
                        </div>
                        <a href="./post.html" class="blog__button">read more</a>
                        <div class="blog__content-item">
                            <i class="fa fa-calendar-o blog__info" aria-hidden="true"> <span id="time">13.08.2014</span></i>
                            <i class="fa fa-comment blog__info" aria-hidden="true"> <span id="comment">44</span></i>
                        </div>
                    </div>
                    <div class="item">                        
                        <div class="blog__content-item">
                            <img src="../IMG/main__img/main__blog/mask_4.jpg" alt="img post" class="blog__img">
                            <h2 class="blog__title">Amy Troost Shoots SS14 Collections for The Last Magazine</h2>
                            <p class="blog__text">Photography Daniel Jackson,  styling by Alastair McKimm, hair by Shon  and Esther Langham, make-up by Yadim,  Francelle and Hannah Murray, casting by AM casting. Production  by Nikki Stromberg and Matthew Youmans at M.A.P New York.</p>
                        </div>
                        <a href="./post.html" class="blog__button">read more</a>
                        <div class="blog__content-item">
                            <i class="fa fa-calendar-o blog__info" aria-hidden="true"> <span id="time">22.08.2014</span></i>
                            <i class="fa fa-comment blog__info" aria-hidden="true"> <span id="comment">20</span></i>
                        </div>
                    </div>
                    <div class="item">                       
                        <div class="blog__content-item">
                            <img src="../IMG/main__img/main__blog/mask_5.jpg" alt="img post" class="blog__img">
                            <h2 class="blog__title">Paul Wetherell Shoots Meadham Kirchhoff SS14 Collection for i-D Walker.</h2>
                            <p class="blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie, purus id mollis pharetra, lacus turpis dapibus magna, eget aliquam diam erat at velit. Suspendisse in diam sit amet erat blandit efficitur at eget lorem. Aenean elementum lobortis tellus, sit amet mollis tortor rhoncus id.</p>
                        </div>
                        <a href="./post.html" class="blog__button">read more</a>
                        <div class="blog__content-item">
                            <i class="fa fa-calendar-o blog__info" aria-hidden="true"> <span id="time">29.07.2014</span></i>
                            <i class="fa fa-comment blog__info" aria-hidden="true"> <span id="comment">102</span></i>
                        </div>
                    </div>
                    <div class="item">                       
                        <div class="blog__content-item">
                            <img src="../IMG/main__img/main__blog/mask_6.jpg" alt="img post" class="blog__img">
                            <h2 class="blog__title">Will Davidson Shoots Jennifer Connelly for The Edit Ethical.</h2>
                            <p class="blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie, purus id mollis pharetra, lacus turpis dapibus magna, eget aliquam diam erat at velit. Suspendisse in diam sit amet erat blandit efficitur at eget lorem. Aenean elementum lobortis tellus, sit amet mollis tortor rhoncus id.</p>
                        </div>
                        <a href="./post.html" class="blog__button">read more</a>
                        <div class="blog__content-item">
                            <i class="fa fa-calendar-o blog__info" aria-hidden="true"> <span id="time">15.07.2014</span></i>
                            <i class="fa fa-comment blog__info" aria-hidden="true"> <span id="comment">44</span></i>
                        </div>
                    </div>
                </section>
                <section class="main__navigations navigations">
                    <a href="#" class="navigations__button">PREV</a>
                    <div class="navigations_lists">
                        <a href="#" class="navigations__list">1</a> <a href="#" class="navigations__list">2</a> <a href="#" class="navigations__list">3</a> 
                        <a href="#" class="navigations__list">4</a> <a href="#" class="navigations__list">5</a> 
                        <a href="#" class="navigations__list">6</a><a href="#" class="navigations__list">7</a><a href="#" class="navigations__list">8</a> 
                        <p class="navigations__list">...</p> <a href="#" class="navigations__list">21</a>
                    </div>
                    <a href="#" class="navigations__button">NEXT</a>
                </section>
            </div>
        </main>
        <footer class="footer">
            <div class="main__container">
                <section class="footer__created">
                    <p class="footer__created-text">
                        Created by 2ndself.com, with <i class="fa fa-heart" aria-hidden="true"></i><br>
                        exclusive for theuncreativelab.com
                    </p>
                    <p class="footer__created-text">© 2014 Square. All Rights Reserved.</p>
                </section>
            </div>
        </footer>
    </div>
</body>
</html>