<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Reset.css">
    <link rel="stylesheet" href="../fonts/font-awesome-4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:regular,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/Style.css">
    <link rel="stylesheet" href="../CSS/Style_contact.css">
    <script type="text/javascript" src="../JS/index-script.js"></script>
    <title>POST - SQUARE</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <menu class="header__menu">
                    <div class="menu__burger">
                        <i class="fa fa-times cross" aria-hidden="true"></i>
                        <i class="fa fa-bars bar" aria-hidden="true"></i>
                    </div>
                    <ul class="menu__list">
                        <li><a href="#" class="menu__item menu__item_active">portfolio</a>
                            <ul class="menu__sub-list1 sub-list">
                                <li><a href="#" class="menu__item1">Fashion</a></li>
                                <li><a href="#" class="menu__item1">Editorial</a></li>
                                <li><a href="#" class="menu__item1">street</a></li>
                                <li><a href="#" class="menu__item1 menu__ss-list">black white</a>
                                    <ul class="menu__sub-list2 sub-list">
                                        <li><a href="../views/portfolio.html#_one" class="menu__item2">Gallery /1</a></li>
                                        <li><a href="../views/portfolio.html#_two" class="menu__item2">Gallery /2</a></li>
                                        <li><a href="../views/portfolio.html#_three" class="menu__item2">Gallery /3</a></li>
                                        <li><a href="#" class="menu__item2">Gallery /4</a></li>
                                        <li><a href="#" class="menu__item2">Gallery /5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" class="menu__item1">personal</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="menu__item">clients</a></li>
                        <li><a href="./blog.html" class="menu__item">news</a></li>
                        <li><a href="./about.html" class="menu__item">about me</a></li>
                        <li><a href="./contact.html" class="menu__item">contact</a></li>
                    </ul>
                </menu>
                <a href="../index.html" class="header__logo">
                    <img src="../IMG/logo.png" alt="Логотип">
                </a>
                <div class="header__contacts">
                    <a href="#" class="cont-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-flickr" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="contact__container">
                <section class="main__contact contact">
                    <div class="item">
                        <h2 class="contact__title">Want to work with me?</h2>
                        <form action="/">
                            <p class="contact__label">Your name (required)</p>
                            <input type="text" name="name" id="name" class="name">

                            <p class="contact__label">Your email (required)</p>
                            <input type="email" name="email" id="email" class="email">

                            <p class="contact__label">Subject</p>
                            <input type="text" name="subject" id="subject" class="subject">

                            <p class="contact__label">Your Message</p>
                            <textarea name="message" id="message" class="message"></textarea>
                            <button class="button">SEND</button>
                        </form>
                    </div>
                    <div class="item">
                        <h2 class="contact__title">INFO</h2>
                        <ul class="contact__list">
                            <li><i class="fa fa-map-marker" aria-hidden="true">124 Avenue Street, Los angeles,California</i></li>
                            <li><i class="fa fa-phone-square" aria-hidden="true">+ 00 123 456 7890</i></li>
                            <li><i class="fa fa-envelope" aria-hidden="true">info@square.com</i></li>
                        </ul>
                        <div class="contact__info-text">
                            <p class="contact__text">All photographs appearing on the web site are copyrighted and protected under international copyright laws.</p>
                            <p class="contact__text">The Images may not be reproduced in any form, stored, or manipulated without prior written permission from me and the copyright holder(s).</p>
                        </div>
                        <img src="../IMG/logo_black.png" alt="logo black" class="contact__logo">
                    </div>
                </section>
            </div>
        </main>
        <footer class="footer">
            <div class="main__container">
                <section class="footer__partners">
                    <img src="../IMG/footer__img/phaseone_logo.png" alt="phaseone logo" class="footer__item">
                    <img src="../IMG/footer__img/manfrotto_logo.png" alt="manfrotto logo" class="footer__item">
                    <img src="../IMG/footer__img/hasselblad_logo.png" alt="hasselblad logo" class="footer__item">
                    <img src="../IMG/footer__img/broncolor_logo.png" alt="broncolor logo" class="footer__item">
                </section>
                <section class="footer__created">
                    <p class="footer__created-text">
                        Created by 2ndself.com, with <i class="fa fa-heart" aria-hidden="true"></i><br>
                        exclusive for theuncreativelab.com
                    </p>
                    <p class="footer__created-text">© 2014 Square. All Rights Reserved.</p>
                </section>
            </div>
        </footer>
    </div>
</body>
</html>