<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Reset.css">
    <link rel="stylesheet" href="../fonts/font-awesome-4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:regular,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/Style.css">
    <link rel="stylesheet" href="../CSS/Style_portfolio.css">
    <script type="text/javascript" src="../JS/index-script.js"></script>
    <script type="text/javascript" src="../JS/port-script.js"></script>
    <title>BLOG - SQUARE</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <menu class="header__menu">
                    <div class="menu__burger">
                        <i class="fa fa-times cross" aria-hidden="true"></i>
                        <i class="fa fa-bars bar" aria-hidden="true"></i>
                    </div>
                    <ul class="menu__list">
                        <li><a href="#" class="menu__item menu__item_active">portfolio</a>
                            <ul class="menu__sub-list1 sub-list">
                                <li><a href="#" class="menu__item1">Fashion</a></li>
                                <li><a href="#" class="menu__item1">Editorial</a></li>
                                <li><a href="#" class="menu__item1">street</a></li>
                                <li><a href="#" class="menu__item1 menu__ss-list">black white</a>
                                    <ul class="menu__sub-list2 sub-list">
                                        <li><a href="../views/portfolio.html#_one" onclick="gall('one');" class="menu__item2">Gallery /1</a></li>
                                        <li><a href="../views/portfolio.html#_two" onclick="gall('two');" class="menu__item2">Gallery /2</a></li>
                                        <li><a href="../views/portfolio.html#_three" onclick="gall('three');" class="menu__item2">Gallery /3</a></li>
                                        <li><a href="#" class="menu__item2">Gallery /4</a></li>
                                        <li><a href="#" class="menu__item2">Gallery /5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" class="menu__item1">personal</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="menu__item">clients</a></li>
                        <li><a href="./blog.html" class="menu__item">news</a></li>
                        <li><a href="./about.html" class="menu__item">about me</a></li>
                        <li><a href="./contact.html" class="menu__item">contact</a></li>
                    </ul>
                </menu>
                <a href="../index.html" class="header__logo">
                    <img src="../IMG/logo.png" alt="Логотип">
                </a>
                <div class="header__contacts">
                    <a href="#" class="cont-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-flickr" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="main__container">
                <section class="main__gallery" id="one">
                    <div class="item1">
                        <div class="gallery">
                            <h2 class="gallery__title">portfolio</h2>
                            <p class="gallery__sub-title">gallery one</p>
                        </div>
                    </div>
                    <div class="main__photo item2">  <img src="../IMG/main__img/main__portfolio/photo_1.jpg" > </div>
                    <div class="main__photo item3">  <img src="../IMG/main__img/main__portfolio/photo_2.jpg" > </div>
                    <div class="main__photo item4">  <img src="../IMG/main__img/main__portfolio/photo_3.jpg" > </div>
                    <div class="main__photo item5">  <img src="../IMG/main__img/main__portfolio/photo_4.jpg" > </div>
                    <div class="main__photo item6">  <img src="../IMG/main__img/main__portfolio/photo_5.jpg" > </div>
                    <div class="main__photo item7">  <img src="../IMG/main__img/main__portfolio/photo_6.jpg" > </div>
                    <div class="main__photo item8">  <img src="../IMG/main__img/main__portfolio/photo_7.jpg" > </div>
                    <div class="main__photo item9">  <img src="../IMG/main__img/main__portfolio/photo_8.jpg" > </div>
                    <div class="main__photo item10"> <img src="../IMG/main__img/main__portfolio/photo_9.jpg" > </div>
                    <div class="main__photo item11"> <img src="../IMG/main__img/main__portfolio/photo_10.jpg"> </div>
                    <div class="main__photo item12"> <img src="../IMG/main__img/main__portfolio/photo_11.jpg"> </div>
                    <div class="main__photo item13"> <img src="../IMG/main__img/main__portfolio/photo_12.jpg"> </div>
                    <div class="main__photo item14"> <img src="../IMG/main__img/main__portfolio/photo_13.jpg"> </div>
                    <div class="main__photo item15"> <img src="../IMG/main__img/main__portfolio/photo_14.jpg"> </div>
                    <div class="main__photo item16"> <img src="../IMG/main__img/main__portfolio/photo_15.jpg"> </div>
                </section>
                <section class="main__portfolio portfolio">
                    <div class="info__сlose">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>      
                    <div class="main__info">
                        <div class="info__content">
                            <i class="fa fa-compress info__compress" id="info__button" aria-hidden="true"></i>
                            <i class="fa fa-expand info__expand" id="info__button" aria-hidden="true"></i>
                            <h2 class="info__title">morgan freeman</h2>
                            <b class="info__sub-title">actor</b>
                            <div class="info__text-nav">
                                <p class="info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla mi orci, ac venenatis ante venenatis eget.</p>
                                <div class="info__nav">
                                    <div class="info__arrow">
                                        <i class="fa fa-angle-left item-arrow" aria-hidden="true"></i>
                                        <i class="fa fa-angle-right item-arrow" aria-hidden="true"></i>
                                    </div>
                                    <p class="info__page"><span>1</span> / 10</p>
                                </div>
                            </div>
                        </div>
                        <div class="info__items">
                            <i class="fa fa-heart info__item" aria-hidden="true"></i>
                            <i class="fa fa-share info__item" aria-hidden="true"></i>
                            <i class="fa fa-envelope info__item" aria-hidden="true"></i>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <footer class="footer">
            <div class="main__container">
                <section class="footer__created">
                    <p class="footer__created-text">
                        Created by 2ndself.com, with <i class="fa fa-heart" aria-hidden="true"></i><br>
                        exclusive for theuncreativelab.com
                    </p>
                    <p class="footer__created-text">© 2014 Square. All Rights Reserved.</p>
                </section>
            </div>
        </footer>
    </div>
</body>
</html>