<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Reset.css">
    <link rel="stylesheet" href="../fonts/font-awesome-4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:regular,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/Style.css">
    <link rel="stylesheet" href="../CSS/Style_post.css">
    <script type="text/javascript" src="../JS/index-script.js"></script>
    <title>POST - SQUARE</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <menu class="header__menu">
                    <div class="menu__burger">
                        <i class="fa fa-times cross" aria-hidden="true"></i>
                        <i class="fa fa-bars bar" aria-hidden="true"></i>
                    </div>
                    <ul class="menu__list">
                        <li><a href="#" class="menu__item menu__item_active">portfolio</a>
                            <ul class="menu__sub-list1 sub-list">
                                <li><a href="#" class="menu__item1">Fashion</a></li>
                                <li><a href="#" class="menu__item1">Editorial</a></li>
                                <li><a href="#" class="menu__item1">street</a></li>
                                <li><a href="#" class="menu__item1 menu__ss-list">black white</a>
                                    <ul class="menu__sub-list2 sub-list">
                                        <li><a href="../views/portfolio.html#_one" class="menu__item2">Gallery /1</a></li>
                                        <li><a href="../views/portfolio.html#_two" class="menu__item2">Gallery /2</a></li>
                                        <li><a href="../views/portfolio.html#_three" class="menu__item2">Gallery /3</a></li>
                                        <li><a href="#" class="menu__item2">Gallery /4</a></li>
                                        <li><a href="#" class="menu__item2">Gallery /5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" class="menu__item1">personal</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="menu__item">clients</a></li>
                        <li><a href="./blog.html" class="menu__item">news</a></li>
                        <li><a href="./about.html" class="menu__item">about me</a></li>
                        <li><a href="./contact.html" class="menu__item">contact</a></li>
                    </ul>
                </menu>
                <a href="../index.html" class="header__logo">
                    <img src="../IMG/logo.png" alt="Логотип">
                </a>
                <div class="header__contacts">
                    <a href="#" class="cont-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-flickr" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#" class="cont-link"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="main__post post">
                <div class="post__container">
                    <div class="post__item1">
                        <img src="../IMG/main__img/main__post/mask_568.jpg" alt="post img" class="post__img">
                        <h1 class="post__title_h1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                        <div class="post__active">
                            <i class="fa fa-calendar-o" aria-hidden="true"><span>02/03/2014</span></i>
                            <i class="fa fa-comment" aria-hidden="true"><span>201</span></i>
                            <i class="fa fa-heart" aria-hidden="true"><span>400</span></i>
                        </div>
                        <div class="post__text">
                            <p><b>Duis dapibus aliquam mi,</b> eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et <b>malesuada fames ac turpis egestas.</b> Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                            <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <b>Curabitur vitae velit in neque</b> dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                            <p>Duis dapibus aliquam mi, <b>eget euismod sem scelerisque ut.</b> Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. <span class="post__text_UPER">Pellentesque habitant morbi tristique</span> senectus et netus et malesuada fames ac turpis egestas. </p>
                            <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. <b>Vivamus at elit quis urna adipiscing iaculis.</b> Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. <b>Pellentesque habitant</b> morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                        </div>
                        <div class="post__share share">
                            <div class="share__item">
                                <h4 class="share__text_bold">SHARE</h4>
                                <a href="#" class="share__link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" class="share__link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="share__link"><img src="../IMG/main__img/main__post/pinterest_551.png" alt=""></a>
                            </div>
                            <div class="share__item">
                                <a href="#"><i class="fa fa-retweet fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="post__item2">
                        <h2 class="post__title">10 Comments</h2>
                        <div class="post__comments">
                            <div class="post__comment-user">
                                <div class="post__info .info">
                                    <div>
                                        <h3 class="info__name">Robert Smith</h3>
                                        <p class="info__date">02 June 2014, 15:20</p>
                                    </div>
                                    <i class="fa fa-undo reply" aria-hidden="true"><span>REPLY</span></i>
                                </div>
                                <div class="post__comment">
                                    <img src="../IMG/main__img/main__post/Screenshot_1.jpg" alt="comment img" class="comment__img">
                                    <p class="comment__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie, purus id mollis pharetra, lacus turpis dapibus magna, eget aliquam diam erat at velit.</p>
                                </div>
                                <div class="post__comment-answer">
                                    <div class="post__info .info">
                                        <div>
                                            <h3 class="info__name">Greg Rouge</h3>
                                            <p class="info__date">02 June 2014, 15:20</p>
                                        </div>
                                    </div>
                                    <div class="post__comment">
                                        <img src="../IMG/main__img/main__post/Screenshot_1.jpg" alt="comment img" class="comment__img">
                                        <p class="comment__text text-answer">Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="post__comment-user">
                                <div class="post__info .info">
                                    <div>
                                        <h3 class="info__name">Ely Grogoelar</h3>
                                        <p class="info__date">02 June 2014, 15:20</p>
                                    </div>
                                    <i class="fa fa-undo reply" aria-hidden="true"><span>REPLY</span></i>
                                </div>
                                <div class="post__comment">
                                    <img src="../IMG/main__img/main__post/Screenshot_1.jpg" alt="comment img" class="comment__img">
                                    <p class="comment__text">Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post__item3">
                        <h2 class="post__title">Leave a comment</h2>
                        <form action="/" class="post__form-comment">
                            <div class="form__date">
                                <input type="text" name="name" placeholder="Name" class="input">
                                <input type="email" name="e-mail" placeholder="E-mail" class="input">
                                <input type="text" name="web site" placeholder="Web site" class="input">
                                <input type="text" name="job" placeholder="Job" class="input">
                            </div>
                            <div>
                                <textarea name="comment" placeholder="Comment" class="comment"></textarea>
                                <input type="button" value="SEND" class="button">
                            </div>
                        </form>
                        <p class="post__text_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis semper nisl, vitae malesuada massa egestas a. Vestibulum vestibulum urna sapien, eu bibendum magna ornare non.</p>
                    </div>
                </div>
            </section>
            <div class="main__container">
                <section class="main__bottom">
                        <div class="bottom__item-1">
                            <img class="bottom__img" src="../IMG/main__img/mask_photo_218.jpg" alt="fashion workshop img">
                            <h2 class="bottom__title">fashion workshop</h2>
                            <p class="bottom__sub-title">NOV 21-23</p>
                            <p class="bottom__text-time">9:00am - 4:00pm</p>
                            <button class="bottom__rsvp">rsvp</button>
                        </div>
                        <div class="bottom__item-2">
                            <h2 class="bottom__title_bold">news</h2>
                            <div class="bottom__content">
                                <div class="bottom__item">
                                    <img class="item__img" src="../IMG/main__img/thumb_287.jpg" alt="img news">
                                    <div>
                                        <h2 class="item__title">New Gallery Set</h2>
                                        <p class="item__sub-title">09.12.2014</p>
                                        <p class="item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla mi orci, ac venenatis ante venenatis eget. <span class="text_yellow"><a href="#">read more</a></span></p>
                                    </div>
                                </div>
                                <div class="bottom__item">
                                    <img class="item__img" src="../IMG/main__img/thumb_309.jpg" alt="img news">
                                    <div>
                                        <h2 class="item__title">New Gallery Set</h2>
                                        <p class="item__sub-title">09.12.2014</p>
                                        <p class="item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla mi orci, ac venenatis ante venenatis eget. <span class="text_yellow"><a href="#">read more</a></span></p>
                                    </div>
                                </div>
                                <div class="bottom__item">
                                    <img class="item__img" src="../IMG/main__img/thumb_310.jpg" alt="img news">
                                    <div>
                                        <h2 class="item__title">New Gallery Set</h2>
                                        <p class="item__sub-title">09.12.2014</p>
                                        <p class="item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla mi orci, ac venenatis ante venenatis eget. <span class="text_yellow"><a href="#">read more</a></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom__item-3">
                            <h2 class="bottom__title_bold">category</h2>
                            <div class="bottom__content">
                                <ul class="bottom__list">
                                    <li>Fashion</li>
                                    <li>Collections</li>
                                    <li>World</li>
                                    <li>Photography</li>
                                    <li>General</li>
                                    <li>Info</li>
                                    <li>Catalog</li>
                                    <li>Video</li>
                                    <li>Showreal</li>
                                    <li>Glamour</li>
                                    <li>Accessories</li>
                                </ul>
                            </div>
                        </div>
                </section>
            </div>
        </main>
        <footer class="footer">
            <div class="main__container">
                <section class="footer__partners">
                    <img src="../IMG/footer__img/phaseone_logo.png" alt="phaseone logo" class="footer__item">
                    <img src="../IMG/footer__img/manfrotto_logo.png" alt="manfrotto logo" class="footer__item">
                    <img src="../IMG/footer__img/hasselblad_logo.png" alt="hasselblad logo" class="footer__item">
                    <img src="../IMG/footer__img/broncolor_logo.png" alt="broncolor logo" class="footer__item">
                </section>
                <section class="footer__created">
                    <p class="footer__created-text">
                        Created by 2ndself.com, with <i class="fa fa-heart" aria-hidden="true"></i><br>
                        exclusive for theuncreativelab.com
                    </p>
                    <p class="footer__created-text">© 2014 Square. All Rights Reserved.</p>
                </section>
            </div>
        </footer>
    </div>
</body>
</html>